.player {
    width: 300px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

    span {
        font-size: 28px;
        margin-left: 16px;
    }

    background-color: rgba(63, 66, 66, 0.356);

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: aqua !important;
}